/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


/* Navbar */
.navbar {
    background-color: #1D1D25;
    padding-top: 20px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.navbar-nav a {
    padding-left: 30px !important;
}

.navbar-nav a:hover {
    color: #FA5053 !important;
}


/* Jumbotron */
.jumbotron {
    background-color: #1D1D25;
    height: 500px;
}

.homepage h1 {
    color: white;
    font-size: 60px;
}

.homepage a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.homepage span {
    color: #FA5053;
}

.buttoncv {
    background-color: #FA5053;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 15px;
}

.buttoncv:hover {
    background-color: #1D1D25;
    border: 1px solid #FA5053;
    color: white;
}


/* About */
.about {
    background-color: #1D1D25;
    padding-top: 30px;
    padding-bottom: 100px;
}

.about h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-bottom: 10px;
}

.about p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
}

/* Project */
.project {
    background-color: #1D1D25;
    padding-top: 30px;
    padding-bottom: 80px;
}

.project h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-bottom: 40px;
}

.project a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 40px;
    width: 200px;
}

.btnproject {
    background-color: #FA5053;
    color: white;
}

.btnproject:hover {
    background-color: #1D1D25;
    border: 1px solid #FA5053;
    color: white;
}

.card {
    border: none;
    margin-left: 5%;
}

/* Contact */
.contact {
    background-color: #1D1D25;
    padding-top: 30px;
    padding-bottom: 100px;
}

.contact h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-bottom: 40px;
}

.contact img {
    width: 70px;
    padding-right: 10px;
    padding-left: 10px;
}

.contact img:hover {
    background-color: #1D1D25 !important;
    border: 1px solid #FA5053;
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

.contact a {
    text-decoration: none;
}




/* Responsive Mobile */
@media only screen and (max-width: 600px) {
    .about p {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
}